.Chat {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    height: 100%;
    padding: 0.7rem;
    overflow-y: auto;
}

.Group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Group:nth-last-of-type(2) {
    /* 1rem - gap between groups */
    min-height: calc(100% - 0.5rem);
}

.Message {
    /* width: 90%;
    padding: 0 16px; */
    border-radius: 1rem;
    font-size: clamp(11px, 3vw, 15px);

    &[data-role="user"] {
        /* width: 100%; */
        padding: 0.1rem 0.7rem;
        align-self: flex-end;
        background: light-dark(#f3f3f3, #303030);
    }
}